NODE_ENV=development
NEXT_TELEMETRY_DISABLED=1
WEB_APP_URL=https://web.powerchain.app
WEB_APP_LOCAL_URL=http://localhost:3000
COPILOT_APP_URL=https://copilot.powerchain.app
COPILOT_APP_LOCAL_URL=http://localhost:3001
BACKEND_APP_URL=https://api.powerchain.app
BACKEND_APP_LOCAL_URL=http://localhost:3002
NEXT_PUBLIC_WEB_APP_URL=http://localhost:3000
NEXT_PUBLIC_COPILOT_APP_URL=http://localhost:3001
NEXT_PUBLIC_BACKEND_APP_URL=http://localhost:3002
NEXT_PUBLIC_POWERCHAIN_NETWORK=devnet
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
CAPILOT_APP_URL=http://localhost:3001
# Prisma / Supabase
COPILOT_DATABASE_URL=
DATABASE_URL=
SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

